h1 {
  text-align: center;
  margin-left: 60px;
  font-size: 35px;
  font-family: "Quicksand", sans-serif;
  border: 3px solid whitesmoke;
  padding: 30px 20px;
  border-radius: 40px;
  width: 320px;
  height: 340px;
}
h3 {
  font-size: 35px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
}
hr {
  border-top: solid black;
}
.enterCity {
  margin-left: 400px;
}
.current-information {
  display: inline-block;
  text-align: left;
  font-size: 24px;
  list-style: none;
  font-family: "Quicksand", sans-serif;
  width: 480px;
  border: 3px solid whitesmoke;
  padding: 35px 30px;
  border-radius: 40px;
  height: 320px;
}
.card-structure {
  display: block;
  margin: 100px auto;
  border: 3px solid #9cd3d3;
  padding: 20px 40px;
  margin-top: 10px 10px;
  max-width: 1000px;
  min-width: 400px;
  border-radius: 30px;
  background-color: #b6e1e0;
  box-shadow: 4px 4px 1px 1px rgba(107, 137, 150, 0.2);
}
.form-control {
  display: block;
  text-align: center;
  border-color: #9cd3d3;
  border-radius: 10px;
  padding: 10px 40px;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
}
.searchBtn {
  display: inline-block;
  height: 50px;
  width: 180px;
  color: black;
  background-color: whitesmoke;
  border-color: #d9dad7;
  border-radius: 5px;
  transition: all 200ms ease;
  cursor: pointer;
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
}
.searchBtn:hover {
  background-color: #e7eaf6;
  border: #d9dad7;
}
.currentPositionBtn {
  display: inline-flex;
  width: 180px;
  background-color: whitesmoke;
  border-color: #d9dad7;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.weeklyForecast {
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  border: 3px solid whitesmoke;
  border-radius: 10px;
  padding: 20px 20px;
  height: 200px;
}
.btn {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.small {
  font-family: "Quicksand", sans-serif;
}
